doctype html
html 
    head 
    body
        block content
            form(method="post", action="/send")
                    label Name
                    input(type="text", placeholder="Enter Name", name="name")
                    label Email
                    input(type="email", placeholder="Enter Email", name="email")
                    label Message
                    textarea(placeholder="Message Here", name="message")
                    button(type="submit") submit
