<h1>Yelp API</h1>


<form action="/yelp" method="post">
    <label>Type:</label>
    <input type="text" name="searchBusiness" placeholder="of business?">
    <label>City:</label>
    <input type="text" name="searchCity" placeholder="Where?">
    <button type="submit" name="submitSearchButton">Search</button>
</form>