<h1>Yelp API</h1>

<label>Business Name:</label>
<form action="/yelp" method="post">
    <input type="text" name="searchBusiness" placeholder="Search...">
    <button type="submit" name="submitSearchButton">Search</button>
</form>